body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
  height: 400px;
}

.profilePicture{
  width: 30%;
  border-radius: 10px;
  border: 5px solid rgba(255,255,255, 0.5)
}

.Info_Container{
  background-color: #23252C;
  line-height: 0.2;
  width: 30%;
  margin: auto;
  height: auto;
  padding: 10px;
}

.Info_Container h3{
  font-size: 25px;
  color: white;
}

.Info_Container h5{
  font-size: 15px;
  color: orange;
  font-weight: normal;
}

button{
  margin: 5px;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
}

.email{
  background-color: white;
}

.linkedIn{
  background-color: #5093E2;
  color: white;
}

.Info_Container h1{
  text-align: left;
  color: white;
}

p{
  line-height: normal;
  color: white;
  text-align: left;
}


.footer_color{
  background-color: black;
  line-height: 0.2;
  width: 30%;
  margin: auto;
  height: auto;
  padding: 10px;
  padding-top: 9px;
}

.icons{
  color: white;
}

.icons button{
  margin-top: -50px;
  width: fit-content;
  border: 1px solid rgba(0,0,0);
  background-color: rgba(255,255,255, 0.5);
  border-radius: 10;
  font-size: 20px;
  height: 33px;
}